@using static CWInventory.Core.Constants.RoleConstants;

@model IEnumerable<UserDetailsViewModel>

@{
    ViewData["Title"] = "All Users";
}

@{
    if (Model.Any())
    {
        <ul class="list-group">
            @foreach (var user in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div>@user.FullName (@user.Email)</div>
                    @if (!string.IsNullOrEmpty(user.StorageName))
                    {
                        <div class="text-success">@user.StorageName</div>
                        if (!user.IsManager)
                        {
                            <form asp-area="@AdminAreaName" asp-controller="User" asp-action="SetAsStorageManager" asp-route-id="@user.Id">
                                <input type="submit" value="Set as manager" />
                            </form>
                        }
                        else
                        {
                            <form asp-area="@AdminAreaName" asp-controller="User" asp-action="RemoveManager" asp-route-id="@user.Id">
                                <input type="submit" value="Remove as manager" />
                            </form>
                        }
                    }
                    else
                    {
                        <a asp-area="@AdminAreaName" asp-controller="User" asp-action="HireToStorage" asp-route-id="@user.Id">Hire to storage</a>
                    }

                </li>
            }
        </ul>

    }
    else
    {
        <h2>There is no users yet</h2>
    }
}